html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

label{
  color: #ff2311;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  /*border: 1px solid #ccc;*/
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ccc;

  background: #fff;
  /*padding-bottom: 30px*/
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

input[type=submit]{
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 45px 20px;
}

input[type=submit]:hover{
    background-color: #39ace7;
}

input[type=submit]:active{
      transform: scale(0.95);
}

input[type=text],input[type=password],input[type=email]  {
  background-color: #f6f6f6;
  outline:none;
  color: #0d0d0d;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

@media (max-width: 376px) {
  input[type=submit]{
    padding: 15px 50px;
    margin: 10px 5px 30px 5px;
  }
}

@media (min-width: 765px) and (max-width: 1025px) {
  input[type=text],input[type=password],input[type=email]  {
    font-size: 26px;
  }

  input[type=submit]{
    margin-top: 20px;
    font-size: 20px;
  }

  label, .underlineHover{
    font-size: 22px;
  }
}