body {
  /*background-image: url("../../static/css/image/backGround.jpg"); !* Путь к фоновому изображению *!*/
  background-color: #6c757d;
  color: #000000;
}

.text_like{
  color: #19692c;
}

.text_dislike{
  color: #ff0000;
}

#two_column li {
  /*background-color: red;*/
    display: block;
    float: left;
    width: 50%;
    /*border: 1px solid #ccc;*/
}
#two_column{
  margin-left: 5%;
  padding: 0;
  /*list-style-type: none;*/
}

.warn_like_dis{
    color: #6c757d;
    font-size: small;
    padding-left: 20px;
}

#plot_home, #plot_movie{
    text-align: justify;
}

.plot{
    /*background-color: #19692c;*/
    display: block;
    max-height: 100px;
    outline: none;
    overflow: hidden;
}

#image{
    width: 180px;
    height: 260px;
}

@media (max-width: 576px) {
    .navbar-brand{
        font-size: 18px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
    h5{
        font-size: 15px;
    }

    a{
        font-size: 12px;
    }

    .form-control{
        font-size: 12px;
    }

    .warn_like_dis{
        font-size: 10px;
    }

    .media-body p, .text-success, .form_texrarea{
        font-size: 12px;
    }

    .plot{
        /*background-color: #19692c;*/
        margin-bottom: 5px;
        font-size: 12px;
        display: block;
        max-height: 70px;
        outline: none;
        overflow: hidden;
    }

    #plot_movie{
        font-size: 12px;
    }

    .btn{
        font-size: 10px;
    }

    a.btn{
        margin-bottom: -20px;
    }

    .card-text{
        font-size: 12px;
    }

    .card-body{
        min-width: 100px;
    }

    .like, .dislike{
        width: 15px;
        height: 15px;
        /*margin-top: -30px;*/
    }
    .text_like, .text_dislike{
        font-size: 13px;
    }

    .text_like, .text_dislike,.like, .dislike{
        /*margin-top: -40px;*/
    }


    #image{
        width: 110px;
        height: 180px;
    }
    .container{
        /*background-color: red;*/
        width: 100%;
    }
    .navbar{
        /*width: 320px;*/
        min-width: 320px;
        max-width: 576px;
    }
    .card-title{
        width: 100%;
    }
}