body {
  /*background-image: url("../../static/css/image/backGround.jpg"); !* Путь к фоновому изображению *!*/
  background-color: #6c757d;
  color: #000000;
}

.text_like{
  color: #19692c;
}

.text_dislike{
  color: #ff0000;
}

#two_column li {
  /*background-color: red;*/
    display: block;
    float: left;
    width: 50%;
    /*border: 1px solid #ccc;*/
}
#two_column{
  margin-left: 5%;
  padding: 0;
  /*list-style-type: none;*/
}