{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="descrip tion" content="">
  <meta name="author" content="">

  <title>VideoClub</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  <link href="{% static 'css/myStyle.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/comment.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">Video Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	  {% block navigation %}

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'random_movie' %}">Random Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
		  {% if username %}
			 <li class="nav-item">
           		 <a class="nav-link active" href="{% url 'logout' %}">Log out({{ username }})</a>
         	 </li>
		  {% else %}
			  <li class="nav-item">
           		 <a class="nav-link active" href="{% url 'login' %}">Log in</a>
         	 </li>
		  {% endif %}

        </ul>
      </div>
	  {% endblock navigation %}
    </div>
  </nav>

  <!-- Page Content -->
  {% block login %}
  {% endblock login %}

  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">HD Movies
          <small>Watch new movies every day</small>
        </h1>

	  	 <!-- Blog Post -->
        {% block movie %}
        {% for movie in movies %}
        <div class="card mb-4">
          <div style="display: flex; flex-direction: row;">
		  	{% block image %}
			<div>
				<img  id="image" src="media/{{ movie.image }}" alt="Card image cap">
			</div>
			{% endblock image %}
            <div class="card-body">
              <h2 class="card-title">{{movie.movie_name}}</h2>
              <p id="plot_home" class="plot">{{movie.plot}}</p>
              <a href="{% url 'detail_movies' pk=movie.pk %}" class="btn btn-primary">Read More →</a><br><br>

			  <a type="submit">
				  <img name="{{ movie.pk }}" class="like" src="{% static "image/like.jpg"%}"
									width='25px' height='25px' title="Понравилоя">
				  <span class="text_like" id="movie_likes_{{ movie.pk }}">{{ movie.like }}</span>
			  </a>

			  <a type="submit">
				  <img name="{{ movie.pk }}" class="dislike" src="{% static "image/dislike.jpg"%}"
									width='25px' height='25px' title="Не понравилоя">
				  <span class="text_dislike" id="movie_dislikes_{{ movie.pk }}">{{ movie.dislike }}</span>
			  </a>
			  {% if movie.pk in user_like_dislike %}
			  <span name="{{ username }}" class="warn_like_dis"
					id="warn_like_dislike_{{ movie.pk }}">You have already voted</span>
			  {% else %}
				<span name="{{ username }}" class="warn_like_dis" id="warn_like_dislike_{{ movie.pk }}"></span>
			  {% endif %}
            </div>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">{{movie.created_date}}</p>
          </div>
        </div>
        {% endfor %}
        {% endblock movie %}


        {%block paginat%}
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if movies.has_previous %}
                            <li class="page-item"><a class="page-link"
												href="?{{ path }}page=1">&laquo;&laquo;</a></li>
                            <li class="page-item"><a class="page-link"
												href="?{{ path }}page={{ movies.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for page in rangePage %}
                            {% if page == movies.number %}
                                <li class="page-item active"><a class="page-link"
														href="?{{ path }}page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
														 href="?{{ path }}page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if movies.has_next %}
                            <li class="page-item"><a class="page-link"
												href="?{{ path }}page={{ movies.next_page_number }}">&raquo;</a></li>
                            <li class="page-item"><a class="page-link"
										href="?{{ path }}page={{ movies.paginator.num_pages }}">&raquo;&raquo;</a></li>
                        {% endif %}
                    </ul>
                 </span>
            </div>
        {% endblock paginat %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {% block Search%}
        <div class="card my-4">
          <h5 class="card-header">Movie search</h5>
          <div class="card-body">
            <div class="input-group">
              <form>
                  <label>
                      <input type="text" name="search" class="form-control" placeholder="Enter movie...">
                  </label>
                  <span class="input-group-btn">
				  	<button class="btn btn-primary" type="submit" >Go!</button>
                  </span>
              </form>
            </div>
          </div>
        </div>
        {% endblock Search%}


        {% block Categories %}
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div>
                <ul id="two_column">
                  {% for cotegory in categories%}
                  <li>
                    <a href="{% url 'detail_category' slug=cotegory.slug %}">{{cotegory.category_name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endblock Categories %}


        {% block Sorting%}
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Sorting</h5>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="?sort=Alphabet">Alphabet</a>
              </li>
              <li>
                <a href="?sort=Date">Date</a>
              </li>
            </ul>
          </div>
        </div>
        {% endblock Sorting%}
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">VideoClub &copy; My Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/my_script.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
