{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Video Club</title>
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
	<div class="login">
		<div id="formContent">
		{% block auth %}
			<form action="/auth/login/" method="post">
				<input type="text" name="username" id="username" placeholder="Name"><br>
				<input type="password" name="password" id="password" placeholder="Password"><br>
				{% if login_error %}
					<label>{{ login_error }}</label><br>
				{% endif %}
				<input type="submit" value="Log in">
			</form>
		{% endblock auth %}
		{% block reg %}
			<div id="formFooter">
				<a class="underlineHover" href="/auth/register/">Registration</a>
			</div>
		{% endblock reg %}
		</div>
	</div>
</body>
</html>