{% extends 'home.html' %}
{% load static %}

{% block login %}
{% endblock login %}

{% block Search%}
{% endblock Search%}

{% block movie %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <div style="display: flex; flex-direction: row;">
		  	{% block image %}
			<div>
				<img  id="image" src="/static/image/{{ movie.image }}" alt="Card image cap">
			</div>
			{% endblock image %}
            <div class="card-body">
                <h2 class="card-title">{{movie.movie_name}}</h2>
                <p id="plot_movie" >{{movie.plot}}</p>
                <p class="card-text">Жанр:  <a href="{% url 'detail_category' slug=movie.category.slug %}">{{movie.category}}</a></p>
				<video class="link_video" controls="controls" poster="{% static "image/108980-688xW.jpg" %}" muted="muted">
				   <source src="{{movie.link_movie}}" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
				</video>
{#                <p class="card-text">Ссылка: <a href="{{movie.link_movie}}">{{movie.link_movie}}</a></p>#}
				<a type="submit">
				  <img name="{{ movie.pk }}" class="like" src="{% static "image/like.jpg"%}"
									width='25px' height='25px' title="Понравилоя">
				  <span class="text_like" id="movie_likes_{{ movie.pk }}">{{ movie.like }}</span>
			  	</a>

			  	<a type="submit">
				  <img name="{{ movie.pk }}" class="dislike" src="{% static "image/dislike.jpg"%}"
									width='25px' height='25px' title="Не понравилоя">
				  <span class="text_dislike" id="movie_dislikes_{{ movie.pk }}">{{ movie.dislike }}</span>

				</a>
				{% if movie.pk in user_like_dislike %}
			  <span name="{{ username }}" class="warn_like_dis"
					id="warn_like_dislike_{{ movie.pk }}">You have already voted</span>
			  {% else %}
				<span name="{{ username }}" class="warn_like_dis" id="warn_like_dislike_{{ movie.pk }}"></span>
			  {% endif %}
					<div class="comment-wrapper">
						<div class="panel-body">
							{% if username %}
							<form method="post">
								<textarea class="form_texrarea" name="content" placeholder="write a comment..." rows="3"></textarea>
								<br>
								<button type="submit" id="post" class="btn btn-primary">Post</button>
							</form>
							{% endif %}
							<hr>
							<small>{{ comments.count }} Comments</small>
							<ul class="media-list">
								{% for comment in comments %}
								<li class="media">
									<div class="media-body">
										<span class="text-muted pull-right">
											<small class="text-muted">{{ comment.created_date }}</small>
										</span>
										<strong class="text-success">@{{ comment.user }}</strong>
										<p>
											{{ comment.content }}
										</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
			  </div>
			</div>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">{{movie.created_date}}</p>
          </div>
        </div>

{% endblock movie %}

{% block paginat %}
{% endblock paginat %}

{% block Sorting %}
{% endblock Sorting %}

{% block Categories %}
{% endblock Categories %}