{% extends "login.html" %}
{% load static %}

{% block confirm %}
{% endblock confirm %}

{% block auth %}
	<p>{{ success_refresh }}</p>
	<form action="/auth/forgot_password/refresh_password/?token={{ token }}" method="post">
		<input type="password" name="password1" id="password1" placeholder="New password"><br>
		<input type="password" name="password2" id="password2" placeholder="Repeat password"><br>
		{% if password_error %}
			<label>{{ password_error }}</label><br>
		{% endif %}
		<input type="submit" value="Save">
	</form>
{% endblock auth %}

{% block reg %}
{% endblock reg %}