{% extends "login.html" %}
{% load static %}

{% block auth %}
	<form action="/auth/register/" method="post">
		<input type="text" name="username" id="username" placeholder="Name" value="{{ username }}"><br>
		<input type="email" name="email" id="email" placeholder="Email" value="{{ email }}"><br>
		<input type="password" name="password1" id="password1" placeholder="New password"><br>
		<input type="password" name="password2" id="password2" placeholder="Repeat password"><br>
		{% if register_error %}
			<label>{{ register_error }}</label><br>
		{% endif %}
		<input type="submit" value="Registration">
	</form>
{% endblock auth %}

{% block reg %}
{% endblock reg %}