{% extends "login.html" %}
{% load static %}

{% block confirm %}
	<h1>На вашу почту отправлено подтверждение</h1>
	<p>На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для смкены пароля.
		Пожалуйста, перейдите по ссылке для смены пароля .</p>
	<p>Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте
		письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения. Если же письма нет и в папке «Спам»,
		попробуйте подписаться ещё раз. Возможно, вы ошиблись при вводе адреса.</p>
{% endblock confirm %}

{% block auth %}
{% endblock auth %}

{% block reg %}
{% endblock reg %}